.experienceContainer {
    height: inherit;
    width: inherit;
    overflow: hidden;
}

.experienceContainer .experienceCard {
    display: block;
    height: 45vh;
    background: transparent;
    border: white 1px solid;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.experienceContainer .experienceCard .expImageContainer {
    width: fit-content;
    align-items: center;
    align-content: center;
    display: inline-block;
}

.experienceContainer .experienceCard .expImageContainer .experienceImage {
    width: 100px;
    height: 100px;
}

.experienceContainer .experienceCard .experienceName {
    display: block;
    font-size: 20px;
}