body, html {
  scroll-behavior: smooth;


  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

#main {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.bg-text {
  color: white;
  z-index: 2;
  padding: 20px;
  text-align: center;
}

#home {
  margin-top: 40vh;
}

.slider {
  margin-top: 40vh;
  color: white;
  z-index: 10;
}

